/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#pokemonList {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 400px;
}

li {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* New styles for special Pokémon */
.special {
    background-color: #ffeb3b; /* Yellow background for special Pokémon */
    font-weight: bold; /* Bold font for special Pokémon */
    color: #333; /* Dark text color for special Pokémon */
}
